html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #EDEDED;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 400;
}


h1, h2 {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0px auto;
	width: 1200px;
}

form label {
	display: block;
	text-align: left;
	margin-bottom: 0.5em;
}

form .submit {
	margin-top: 2em;
	background: #B03500;
	line-height: 1.5em;
	font-size: 1.3em;
}

form input.text,
form select,
form textarea {
	position: relative;
	-webkit-appearance: none;
	display: block;
	border: 0;
	background: #fff;
	background: rgba(255,255,255,0.75);
	width: 100%;
	border-radius: 0.50em;
	margin: 1em 0em;
	padding: 1.50em 1em;
	box-shadow: inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05);
	border: solid 1px rgba(0,0,0,0.15);
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	-ms-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	outline: none;
}

form input.text:hover,
form select:hover,
form textarea:hover {
}

form input.text:focus,
form select:focus,
form textarea:focus {
	box-shadow: 0 0 2px 1px #E0E0E0;
	background: #fff;
}

form textarea {
	min-height: 8em;
	max-width:  35.5em;
}

form .formerize-placeholder {
	color: #555 !important;
}

form ::-webkit-input-placeholder {
	color: #555 !important;
}

form :-moz-placeholder {
	color: #555 !important;
}

form ::-moz-placeholder {
	color: #555 !important;
}

form :-ms-input-placeholder {
	color: #555 !important;
}

form ::-moz-focus-inner {
	border: 0;
}

.title {
	margin-bottom: 3em;
}

.title h2 {
	font-size: 2.8em;
	color: rgba(255,255,255,0.9);
}

#newsletter {
	overflow: hidden;
	padding: 8em 0em;
	background: #EDEDED;
	text-align: center;
}

#newsletter .title h2 {
	color: rgba(0,0,0,0.8);
}

#newsletter .content {
width: 600px;
margin: 0px auto;
}

.logout {
  text-align: right;
  margin-right: 50px;
  font-size: 20px;
  color: black;
}

.date {
	width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

a {
	text-decoration: none;
}

.button_submit {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #b8b8b8;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.button_submit:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.button_submit:active {
	position:relative;
	top:1px;
}